<footer class="">
  <div class="footer-logo-bar">
    <div class="footer-logo-wrap">
      UNDER ARMOUR
    </div>
  </div>
  <div class="footer-menu-cont w-container">

				<div class="footer-block footer-email-fitness">

					<div class="footer-newsletter-signup">
						<h4 class="footer-block-header">
								Get Free Shipping On Your Next Order
						</h4>

						<div class="footer-block-signup-messaging">
							Sign up for email updates today.
						</div>

						<form id="footer-email-form" class="footer-email-form" action="" novalidate="">

								<input id="footer-signup-input" name="email" data-name="Email" type="email" placeholder="Email Address" aria-label="Enter email address for updates" maxlength="256">

								<button id="footer-signup-button">Sign Up</button>

						</form>
						<div class="footer-email-error hidden">
							<div class="email-confirmation-header">
								<i class="icon ua-close pull-right"></i>
								<strong>Please enter a valid Email Address.</strong>
							</div>
						</div>

							<div class="us-legal">
								By providing your email, you agree to the
								<a class="ua-text-link" href="https://account.underarmour.com/privacy?locale=en_us" target="_blank">Privacy Policy</a> and
								<a class="ua-text-link" href="https://account.underarmour.com/terms-and-conditions?locale=en_us" target="_blank">Terms &amp; Conditions</a>. You may later unsubscribe.
							</div>

						<div class="footer-email-success hidden">
							<div class="email-confirmation-header">
								<i class="icon ua-close pull-right"></i>
								<strong>It's official. You're on the team. Thanks for becoming a UA insider.</strong>
							</div>
							<div class="email-confirmation-body">
								<p>You'll hear from us soon about the latest &amp; greatest UA innovations. But you don't need to wait. Go ahead &amp; check out the most advanced gear in sports. Our goal is to do one thing: MAKE YOU BETTER.</p>
							</div>
						</div>
					</div>

					<div class="footer-social">
						<h4 class="footer-block-header">The World's Largest Fitness Community</h4>
						<div class="emblems">
							<a class="gs-icon icon--icon-record" href="http://www.mapmyfitness.com/redirect/device/?desktop=https://record.underarmour.com/&amp;ios=https://itunes.apple.com/app/id895425891&amp;android=https://play.google.com/store/apps/details?id=com.ua.record" target="_blank">
								<span class="gs-acc-hidden">UA Record</span>
							</a>
							<a class="gs-icon icon--icon-endo" href="http://www.mapmyfitness.com/redirect/device/?desktop=https://www.endomondo.com/&amp;ios=https://itunes.apple.com/app/id333210180&amp;android=https://play.google.com/store/apps/details?id=com.endomondo.android" target="_blank">
								<span class="gs-acc-hidden">Endomondo</span>
							</a>
							<a class="gs-icon icon--icon-mfp" href="http://www.mapmyfitness.com/redirect/device/?desktop=https://www.myfitnesspal.com/&amp;ios=https://itunes.apple.com/app/id341232718&amp;android=https://play.google.com/store/apps/details?id=com.myfitnesspal.android" target="_blank">
								<span class="gs-acc-hidden">My Fitness Pal</span>
							</a>
							<a class="gs-icon icon--icon-mmrun" href="http://www.mapmyrun.com/redirect/device/?desktop=http://www.mapmyrun.com/&amp;ios=https://itunes.apple.com/app/id291890420&amp;android=https://play.google.com/store/apps/details?id=com.mapmyrun.android2" target="_blank">
								<span class="gs-acc-hidden">Map My Fitness</span>
							</a>
						</div>
					</div>

				</div>
				
				<div class="footer-block">
	<h4 class="footer-block-header">Customer Service</h4>
	<ul class="footer-block-links">

		<li>
			<a class="footer-block-link" href="http://underarmour.custhelp.com">Help &amp; FAQs</a>
		</li>

		<li>
			<a href="#" id="rn_ConditionalChatLink_esg_AvailableImmediatelyLink" class="esg_ModalChatLink footer-block-link live-chat">Live Chat</a>
		</li>

		<li>
			<a class="footer-block-link" href="/en-us/returnlabel">Returns</a>
		</li>

		<li>
			<a class="footer-block-link" href="/en-us/my-account/guest-login">Order  Tracking</a>
			</li>

		<li>
			<a class="footer-block-link" href="/en-us/customer-service/shipping">Shipping &amp; Delivery</a>
				</li>

		<li>
      <a class="footer-block-link" href="/en-us/change-region">Change Region</a>
				</li>

		<li>
			<a class="footer-block-link" href="/en-us/find-a-store">Store Locator</a>
        </li>

		<li>
			<a class="footer-block-link" href="/en-us/promos-offers">Promos &amp; Offers</a></li>

		<li>
			<a class="footer-block-link" href="/en-us/size-charts">Size Charts</a></li>

		<li>
      <a class="footer-block-link giftcardlink" href="/en-us/gift-card-landing">Gift Cards</a></li>
	</ul>
</div>
<div class="footer-block">
	<h4 class="footer-block-header">About Under Armour</h4>
	<ul class="footer-block-links">

		<li><a class="footer-block-link" href="https://about.underarmour.com/about">About Us</a></li>

		<li><a class="footer-block-link" href="https://about.underarmour.com/news">UA Newsroom</a></li>

		<li><a class="footer-block-link" href="http://www.underarmour.jobs/">Careers</a></li>

		<li><a class="footer-block-link" href="https://www.wewill.city/">UA Community</a></li>

		<li><a class="footer-block-link" href="http://investor.underarmour.com/investors.cfm">Investor Relations</a></li>

		<li><a class="footer-block-link" href="/en-us/affiliate-home">Affiliates</a></li>

		<li>
      <a class="footer-block-link" href="https://productsafety.underarmour.com/">Product Recalls</a></li>

		<li>
			<a class="footer-block-link" href="https://developer.underarmour.com/">Business Development</a></li>

		<li>
					<a class="footer-block-link" href="/en-us/sitemap">Site Map</a></li>

		<li>
					<a class="footer-block-link" href="/en-us/merchology">Corporate Sales</a>
		</li>
	</ul>
</div>
</div>
</footer>
