<div class="row">
  <div class="col-md-6" *ngFor="let item of items | gender:genderInUrl">
    <div class="card card-default">
      <div class="card-body">
        <p>{{ item.gender }}</p>
        <p>{{ item.category }}</p>
        <ul>
          <li *ngFor="let sub of subcategories">{{ sub }}</li>
        </ul>
        <p>{{ item.name }}</p>
        <p>${{ item.price }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.newArrival }}</p>
        <p>{{ item.bestSeller }}</p>
        <p>{{ item.outlet }}</p>
      </div>
    </div>
  </div>

</div>
