<div id='top-nav-container'>
  <div id='top-nav-message'>
    <a href="/en-us/customer-service/shipping"><span>FREE Returns &amp; FREE U.S. Standard Shipping Orders $60+</span></a>
  </div>

  <div class="util-links">
    <a class="chat-link" href="#">Chat</a>

    <div class="ua-top-nav-site-picker">
      <a class="site-picker-link" href="/en-us/change-region">
        <span class="selected-country-name">
          US
        </span>
      </a>
    </div>

    <a class="stores-link" href="/en-us/find-a-store">Stores</a>

    <div class="ua-top-nav-account" >
      <a class="ua-top-nav-account-link has-children" href="/en-us/login">
        Log In
      </a>
    </div>
  </div>

</div>
