<div class="bucket-section">
    <div>
      <div class="editorial-row">
        <div class="editorial-column">
          <a class="link-block" href="/en-us/steph-curry-collection/g/325t?iid=bucket&amp;iidasset=190104_C6">
            <div class="bucket-div">
              <div class="container-div">
                <img class="w-widget-scene7 x-ua-s7" src="//underarmour.scene7.com/is/image/Underarmour/190118_603_C6_TAB_MB?fmt=jpg&amp;wid=1067" sizes="(max-width: 1199px), (max-width: 991px), (max-width: 767px), (max-width: 479px), 100vw" srcset="">
                <img class="w-widget-scene7 x-ua-c6-bucket-logo-lockup" src="//underarmour.scene7.com/is/image/Underarmour/190118_603_C6_LAUNCH_SQR_LOCKUP?fmt=png-alpha&amp;wid=545" sizes="(max-width: 1199px), (max-width: 991px), (max-width: 767px), (max-width: 479px), 100vw" srcset="">
                <div class="w-hidden-large w-hidden-medium w-hidden-small w-hidden-tiny x-ua-deptbuckethover">
                  <div class="w-hidden-medium w-hidden-small w-hidden-tiny x-ua-light-cta">
                    SHOP NOW
                  </div>
                </div>
              </div>
            <div class="x-ua-mobile-bucket-div">
              <div class="x-ua-editorial-text-headline">
                CURRY 6
              </div>
              <div class="x-ua-secondary-bucket-subtext">
                Fully stacked. No apologies.
              </div>
              <div class="x-ua-new-cta">
                SHOP NOW
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="w-col w-col-6 w-col-small-6 x-ua-editorial-column">
        <div class="x-ua-new-bucket-div">
          <a class="w-inline-block x-ua-linkblock" href="/en-us/sportstyle-shoes/hovr/g/33yb418?iid=bucket&amp;iidasset=180509_SS19_HOVR_Confetti">
            <div class="x-ua-container-div">
              <img class="w-widget-scene7 x-ua-s7-bucket-image" src="//underarmour.scene7.com/is/image/Underarmour/180509_SS19_W_HOVR_Confetti_Site_TAB_MB?fmt=jpg&amp;wid=1067" sizes="(max-width: 1199px), (max-width: 991px), (max-width: 767px), (max-width: 479px), 100vw" srcset="">
              <div class="w-hidden-medium w-hidden-small w-hidden-tiny x-ua-deptbuckethover">
                <div class="w-hidden-medium w-hidden-small w-hidden-tiny x-ua-light-cta">
                  SHOP NOW
                </div>
              </div>
            </div>
            <div class="x-ua-mobile-bucket-div">
              <div class="x-ua-editorial-text-headline">
                UA HOVR
                <span class="x-ua-trademark">™</span>
                PHANTOM
              </div>
              <div class="x-ua-secondary-bucket-subtext">
                A new drop for the new year.
              </div>
              <div class="x-ua-new-cta">
                SHOP NOW
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
