.bucket-section {
  position: relative;
  height: 488.812px;
  border: 1px solid #333;
}

.row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.col-sm {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    width: 50%;
}

.col-6 {
  width: 50%;
}

.link-block {
  display: block;
  position: relative;
  width: 100%;
  text-shadow: none
}
