<div class="bucket-section container-fluid">
  <div class="row">
    <div class="col-sm">
      <img src="https://images.unsplash.com/photo-1529339944280-1a37d3d6fa8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="image of a runner">
      <h1 class='bucket-header'>CURRY 6</h1>
      <p class='sub-head'>Fully stacked. No apologies.</p>
    </div>
    <div class="col-sm">
      <img src="https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="image of feet in shoes">
      <h1 class='bucket-header'>UA HOVR PHANTOM</h1>
      <p class='sub-head'>A new drop for the new year.</p>
    </div>
  </div>
</div>
