<div class="main-nav">

  <div class="logo">
    <a aria-label="Logo link to homepage" href="">
      <i class="icon">UA</i>
    </a>
  </div>

  <div class="menu">
    <ul class='nav-list--categories'>
      <li><a href="men">MEN</a></li>
      <li><a href="women">WOMEN</a></li>
      <li><a href="boys">BOYS</a></li>
      <li><a href="girls">GIRLS</a></li>
      <li><a href="shoes">SHOES</a></li>
      <li><a href="outlet">OUTLET</a></li>
    </ul>
  </div>
  <div class='search-container'>
    <form class="search" action="/en-us/search" method="post">
      <input type="search" name="q" class="search-input" placeholder="Search">

      <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
