<div class="new-arrivals">

  <div class="secondary-banner-div">
    <div class="secondary-banner-headline">
      NEW ARRIVALS
    </div>

    <div class="secondary-banner-subcopy">
      We’ll keep building the gear. You’ll keep getting better.
    </div>

    <a class="dark-cta" href="men">
      MEN
    </a>
    <a class="dark-cta" href="women">
      WOMEN
    </a>
    <a class="dark-cta" href="boys">
      BOYS
    </a>
    <a class="dark-cta" href="girls">
      GIRLS
    </a>
  </div>

</div>
