<div class="new-arrivals">

  <div class="secondary-banner-div">
    <div class="secondary-banner-headline">
      NEW ARRIVALS
    </div>

    <div class="secondary-banner-subcopy">
      We’ll keep building the gear. You’ll keep getting better.
    </div>

    <a class="dark-cta" href="/en-us/new-arrivals/mens/g/39272?iid=banner&amp;iidasset=text">
      MEN
    </a>
    <a class="dark-cta" href="/en-us/new-arrivals/womens/g/3c272?iid=banner&amp;iidasset=text">
      WOMEN
    </a>
    <a class="dark-cta" href="/en-us/new-arrivals/boys/g/3f272?iid=banner&amp;iidasset=text">
      BOYS
    </a>
    <a class="dark-cta" href="/en-us/new-arrivals/girls/g/3i272?iid=banner&amp;iidasset=text">
      GIRLS
    </a>
  </div>

</div>
