<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Item to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Item Gender:</label>
        <br>
        <input #newGender>
      </div>

      <div>
        <label>Item Category:</label>
        <br>
        <input #newCategory>
      </div>

      <div>
        <label>Item Subcategory:</label>
        <br>
        <input #newSubcategory>
      </div>

      <div>
        <label>Item Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Item Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Item Price:</label>
        <br>
        <input #newPrice>
      </div>

      <div>
        <label>Item NewArrival:</label>
        <br>
        <input #newNewArrival>
      </div>

      <div>
        <label>Item BestSeller:</label>
        <br>
        <input #newBestSeller>
      </div>

      <div>
        <label>Item Outlet:</label>
        <br>
        <input #newOutlet>
      </div>

    </div>
  </div>
</div>
