<div class="grid-header" data-reactid=".24u0rbnllls.0">
  <div class="main-header-wrapper" data-reactid=".24u0rbnllls.0.0">
    <div class="headline-breadcrumbs-wrapper" data-reactid=".24u0rbnllls.0.0.0">
      <div class="headline-wrapper" data-reactid=".24u0rbnllls.0.0.0.0">
        <h1 class="headline" data-reactid=".24u0rbnllls.0.0.0.0.0">Men’s Graphic T's</h1>
      </div>
    </div>

    <div class="sort-count-wrapper" data-reactid=".24u0rbnllls.0.0.1">
      <div class="product-count" data-reactid=".24u0rbnllls.0.0.1.0">
        <span data-reactid=".24u0rbnllls.0.0.1.0.0">138</span>
        <span data-reactid=".24u0rbnllls.0.0.1.0.1"> </span>
        <span data-reactid=".24u0rbnllls.0.0.1.0.2">Results</span>
      </div>
      <div class="desktop-sort-filter" data-reactid=".24u0rbnllls.0.0.1.1">
        <div class="sort-containers" data-reactid=".24u0rbnllls.0.0.1.1.0">
          <div id="sort-filter-desktop" class="ua-r-select" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop">
            <div id="sortOptionsContainer" class="ua-r-select-container ua-r-select-container-pop" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0">
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="RV" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$RV">Relevance</div>
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="NW" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$NW">Newest</div>
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="HR" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$HR">Highest Rated</div>
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="BS" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$BS">Best Selling</div>
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="LH" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$LH">$-$$$</div>
              <div class="ua-r-select-option" tabindex="-1" data-focusable="true" role="menuitem" value="HL" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.0.$HL">$$$-$</div>
            </div>
            <div class="ua-r-select-selected" tabindex="0" data-focusable="true" role="menu" aria-expanded="false" aria-controls="sortOptionsContainer" aria-label="Sort filter dropdown menu - Relevance" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.1">
              <div class="ua-r-select-selected-text" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.1.0">Relevance</div>
              <div class="ua-r-select-icon-container" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.1.1">
                <span class="icon ua-closed-arrow_up" aria-hidden="true" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.1.1.0"></span>
                <span class="icon ua-closed-arrow_down" aria-hidden="true" data-reactid=".24u0rbnllls.0.0.1.1.0.$sort-desktop.1.1.1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
